body {
  background-color: lightsteelblue;
}

#tabContainer {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 5%;
}


#mainContainer {
  display: flex;
  justify-content: center;
  margin-top: 1%;

}

#toDoCreation, #createProjects, #toDoSection, #projectSection {
  display: none;
}
